.App {
  box-sizing: border-box;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/background-image-employees.jpeg);
  opacity: 0.8;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.ui .grid {
  width: 100%;
}
.ui .container {
  width: 100%;
}

/* cards */
.ui .card {
  max-width: 200px;
}

.ui .cards .card .image img {
  object-fit: fill;
  height: 260px;
}

.ui .cards .card .content {
  min-height: 160px;
}

.ui .cards {
  margin-top: 10px;
}



.ui .placeholder {
  min-height: 40rem;
}

/* table */
.table-container {
  margin: 20px 0;
}


/* main page */
.ui .center .aligned .header {
  width: 100%;
  background-image: url(./img/background-image-employees.jpeg);
  height: 300px;
}
.ui .items {
  width: 60%;
  margin: 0 auto;
}
.ui .items .item {
  margin: 40px 0;
}
.text-centered {
  margin: auto 0;
  width: 370px;
  text-align: center;
}

.ui .items .item .image .custom {
  width: 150px;
  height: 150px;
  background-size: contain;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.info {
  height: 20px;
  padding: 5px;
  color: black;
}

.image img {
  width: 100px;
  height: 100px;
  object-fit: fill;
}

.add-item-field {
  width: 450px;
}
.add-sell-field {
  width: 120px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
